.warna-navy {
    background-color: #152951!important;
}
.warna-tosca {
    background-color: #01909e!important;
}
.warna-tosca2 {
    background-color: #284a6e!important;
}
.avatar-title {
    color: #dae1e7!important;
}

.nav-link {
    color: #dae1e7!important;
}

.btn {
    color: #fff!important;
}

.filter-option-inner-inner {
    color: black!important;
}
